body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1 {
    color: #66BFBF;
    width: auto;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
}

.a-programmer {
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    line-height: 2;
}

h3 {
    color: #11999E;
}


.topContainer {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;

}

/*
.middleContainer {


}

.bottonContainer {
    color: #11999E;
}

*/
.footer-link {
    color: #11999E;
}

.Pro {
    text-decoration: underline;
}

.cloud1Position {
    position: relative;
    left: 500px;
    top: 10px;

}

.cloud2Position {
    position: relative;
    right: 500px;
    bottom: 600px;
}

.profile-picture {
    width: 150px;
    height: 150px;
    margin: 10px auto
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.apple-logo {
    width: 25%;
    float: right;
}

.web-design {
    width: 25%;
    float: left;
}

hr {
    border: dotted;
    color: lightblue;
    border-bottom: none;
    width: 4%;
}

.textt {
    color: #40514E;
}

.contact-me{
    margin:auto;
    width:40px auto 60px auto;
    padding-bottom: 100px;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Merriweather' ,Arial;
    color: #f5e9f5;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
.bottom-container{
    background-color:#66BFBF;
    color:#11999E;
    padding-top: 10px;


}